@import "compass/typography/vertical_rhythm";

@include establish-baseline;

html * {
	@include box-sizing(border-box);
}

body {

  font-family: $font-family;
  font-weight: $body-font-weight;
  color: $body-font-color;
  position: relative;
  -webkit-font-smoothing: $font-smoothing;
  margin:0;
  padding:0;
  @include respond(all-phones) {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    width: 100%;
    min-width: 0;
  }
}

html, body {
  height: 100%;
  background:lighten($gray, 30%);
}

.ie9 {
  font-family: $font-family;
  * {
    font-family: $font-family;
  }
}

.hide {
  display: none;
}

.hide.active, .show {
  display: block;
}

.fixed {
  position: fixed;
  @include respond(portrait-tablets) {
    position: relative !important;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pull-right {
  float:right
}

.pull-left {
  float:left
}


.outer-wrap { position:relative;  width:100%; height:100%; overflow:hidden;}
.inner-wrap { position:relative;  width:100%; height:100%; left:0; @include transformTransition(500ms); }
.content-row {position:relative; width:100%; height:100%; }

