.nav-header {@include clearfix(); @include clearMP(); height:100% !important; background:$gray;

    @include respond(portrait-tablets) {
        margin-bottom:6em;
    }

    @include respond(tablet-above) {
        width:30% !important;
        float:left;
    }    
}


.mobile-header { @include horizontal-gradient($orange, $pink);  width:100%; z-index:$modal-index;   min-height:5.5em;
    ul { width:100%; margin:0; margin-top:10px; clear:both; background:$gray; @include horizontal-gradient(darken($orange, 12%), darken($pink, 12%)); position:absolute; bottom:0;
        li {@include font-size($small); text-align:left; display:inline-block; width:48%;
            a {color:$white; @include font-size($norm); text-align:left;}
            &:last-child {text-align:right;}
        }
    }


    .mobile-logo {display:block; margin-bottom:10px; text-indent:-999999px;  background:top center no-repeat; background-image:url(/images/mobile-header-logo@2x.png);  width:100%; height:85px; background-size:contain;
        @include respond(portrait-tablets) {margin-top:8px;}
        cursor:pointer;
    }
    
    
    @include respond(portrait-tablets) {
        display:block;
        //position:fixed; 
        position:absolute;
        top:0; left:0; 
        padding-bottom:5px; height:10em;
    }

    @include respond(large-phones) {
        height:9em;
    }

    @include respond(small-phones) {
        height:8em;
    }

    @include respond(portrait-phones) {
        height:7.7em;
    }

    display:none // Landscape Tablets and above

}


.nav-row {@include clearMP();
    @include respond(portrait-tablets) {@include clearMP(); height:0px;}
}




.main-navigation { z-index:$dropdown-index; height:100%; background:$gray; @include clearMP(); padding:0; margin:0; overflow-y:auto; overflow-x:hidden;
    
    ul {@include clearMP; width:100% !important; background:$gray;
        li { @include clearMP(); display:block; width:100%; text-transform: uppercase; border-bottom:1px solid white;
            @include respond(small-phones) {padding:0px;}
            a {font-family:$sansFont; cursor:pointer;  color:$white; width:100%;
                @include font-size(16px); //Font Size for Nav
                display:block; padding:10px 30px;
                line-height:17px;
                @include respond(small-phones) {@include font-size(16px); padding:10px 20px;}
                &:hover, &.active {background:$orange !important; color:$white;}
            }
           

        }
    }

 

    @include respond(tablets) {
        width:100% !important; @include clearMP();   
    }


    @include respond(portrait-tablets) {
         position:absolute !important; 
         top:0; 
         left:0;
         
        @include box-shadow(inset -5px 0px 5px rgba(0,0,0,0.2));
        @include translate3d(-100%,0,0);
        @include backface-visibility(hidden);
        @include transformTransition(500ms);

        ul {  height:100%; @include clearfix;
            li {display:block;  min-height:3em;
                &.hide-phone {display:none;}
            }
        }
    }

    
    @include respond(portrait-tablets) {width:30% !important;}
    @include respond(large-phones) {  width:50% !important;}
    @include respond(small-phones) {  width:60% !important;}
}




.nav-open {
    .inner-wrap {
        @include respond(portrait-tablets) { @include translate3d(30%,0,0);}
        @include respond(large-phones) { @include translate3d(50%,0,0);} 
        @include respond(small-phones) {  @include translate3d(60%,0,0);}        
    }


    .main-navigation {position:fixed;}
}





