.load-screen {height:100%; width:100; @include horizontal-gradient($orange, $pink); z-index:20000; position:fixed;  
	.center-image {
		background-image:url(/images/header-logo@2x.png); background-position:center center; background-repeat:no-repeat; background-size:contain; margin:auto; height:20%; position:absolute; top:50%; left:50%; @include transformTranslate(-50%, -50%); width:50%; 
		@include respond(small-phones) {width:100%; height:40%;}
	}
}


.register-button {border:1px solid black; height:100px; width:100%;}

.desktop-header { @include horizontal-gradient($orange, $pink); 
 padding:30px;  position:relative;
	h1.mobile-logo {display:block;  text-indent:-999999px;  background:top center no-repeat; background-image:url(/images/header-logo@2x.png);  width:100%; height:170px; background-size:contain;}

	//@include respond(all-phones) {display:none;}
	@include respond(portrait-tablets) {display:none;}

	.bottom-border {position:absolute; bottom:0; height:0.625em; @include horizontal-gradient(darken($orange, 12%), darken($pink, 12%)); width:100%; margin-left:-30px;}
}



.angular {
	position:relative; background:$white;
	
	@include respond(portrait-tablets) {
		width:100% !important;
		height:100% !important;
		position:absolute;
		top:4.7em;
		overflow-x:hidden;
		overflow-y:scroll;
		-webkit-overflow-scrolling:touch;
	}


	@include respond(large-phones) {
		top:3.6em;
	}

	@include respond(small-phones) {
		top:2.6em;
	}

	@include respond(tablet-above) {
		float:left; 
		width:70%;
		height:100%;
		overflow-x:hidden;
		overflow-y:scroll;
		-webkit-overflow-scrolling:touch;
	}


	@include transformTransition(1s); 
}


//Globals
.sticky-title  {width:100%;  @include horizontal-gradient($orange, $darkOrange);  font-family:$boldFont; font-size:$norm+4; padding-left:10px; text-transform:uppercase; padding-top:0px; color:$white; overflow:hidden;}

.schedule-listing { overflow-x:scroll;
	ul {@include clearMP;
		li {font-family:$sanscondensedFont; border-bottom:1px solid $white;  @include clearfix;  padding:0 30px; position:relative; @include horizontal-gradient($blue, $darkBlue);
			h4 {font-size:$med; cursor:pointer; @include clearMP; float:left; width:70%; margin:15px 0; color:$white; }
			
			.icon-right-open-big {float:right; color:$white; font-size:$large; width:20%; position:absolute; top:50%;  -webkit-transform:translate(0%, -50%); right:20px;}
			
			
			//Hover 
			&:hover, &:active {background:$darkBlue;
				h4 {color:$white;}
				.icon-right-open-big {color:$white;}
			}


		}
	}

	//Tablets and Desktop 
	@include respond(tablet-above) {
		width:100%;
		float:left;
		height:100vh;
		
		padding-bottom:230px;
		
		//Animation
		@include transition(width, 500ms);	
	}	
	

	//Phones
	@include respond(portrait-tablets) {
		position:absolute;
		top:5.3em;
		width:100%;
		height:85%;
		padding-bottom:0px;
	
		//Animations
		@include transformTransition(1s); 
		@include translate3d(0%,0,0);	
		
	}

	@include respond(large-phones) {
		height:80%;
		padding-bottom:10px;
	}

	@include respond(small-phones) {
		height:77%;
		padding-bottom:40px;
	}

	
	
	
}

.event-listing {background:$white; height:100%; padding-bottom:200px; position:relative;
	.sticky-title {background:$pink; color:darken($pink, 20%); @include font-size($large + 10); padding:10px !important; margin:1em 0px;
		&.image-below {margin-bottom:0 !important;}
	}

	.event-time {margin:1em 0; padding-left:20px; @include font-size($large - 5); color:$pink; text-transform:uppercase; }

	.studio-wrapper {
		img {margin-bottom:0;}
		.studio-link {margin:30px 0; display:block;}
	}

	.db-talks-speaker { position:relative;
		h4 {position:absolute; bottom:0px; margin-top:2.6em; @include horizontal-gradient($orange, $darkOrange); padding:10px; @include font-size($norm + 4);
			@include respond(all-phones) {
				@include font-size($norm);
			}
		}
		h4.after {content:'<i class="icon-right-open-big"></i>'; color:$white;}


	}

	.sponsor-list {
		li { text-align:center;
			.sticky-title {text-align:left;}
			img { width:60%; margin:auto;}
		}
	}

	img {margin-bottom:1em;}

	.speaker-list {margin-bottom:0;}

	.shareButtons { background: rgba(238,40,125, 0.8); position:absolute; right:0;
		 ul { 
		 	li {
			padding:5px;
			display:inline-block;
			font-size:$xlarge;
			color:$white;
				&:hover {
				color:darken($pink, 20%);
				}
			}	


		 }
		 
	}	
	
	.content {padding:0 30px;}

	
	@include respond(tablet-above) {
		width:20%;
		float:right;
		opacity:0;
		height:100%;
		
		overflow-x:hidden; 
		overflow-y:scroll;
		-webkit-overflow-scrolling:touch;
		padding-bottom:300px;
	
		//Animation
		@include transition(width, 500ms);
		@include transition(opacity, 500ms);
	}

	@include respond(portrait-tablets) {
		top:5.3em ;
		img {width:100%;}
	}


	//Mobile
	@include respond(all-phones)  {
		margin-top:23px;
		.shareButtons {display:none;}
		width:100% !important;
		overflow-x:hidden;
		overflow-y:scroll;
		-webkit-overflow-scrolling:touch;
		position:fixed;
		top:5em;
		float:none;
		
		//Animations
		@include transformTransition(1s); 
		@include translate3d(100%,0,0);	
	}

	@include respond(large-phones){
		margin-top:40px;
	}

	
	

}



//Moving Panels
.active {
	//Normal
	@include respond(tablet-above) {
		.schedule-listing { width:40% !important;}
		.event-listing { width:60% !important; opacity:1;}
	}
	

	//Mobile
	@include respond(all-phones) {
		.schedule-listing { @include translate3d(-100%,0,0);}
		.event-listing { @include translate3d(-0%,0,0);}	
	}	

	
}